<div class="formContainer">
    <div class="accessForm">
        <h2>Restablecer Contraseña</h2>
        <form id="accessForm">
            <p class="infoPassword">Introduce tu Correo Electrónico y te enviaremos
                Instrucciones para Restablecer tu Contraseña</p>
            <input type="text" name="email" type="email" placeholder="example@gmail.com" required />
            <input class="loginBtn" type="submit" value="Enviar" />
        </form>
    </div>
</div>

<script src="/js/re-password.js"></script>