<div class="formContainer">
    <div class="accessForm">
        <h2>Restablecer Contraseña</h2>
        <form method="post" id="accessForm" action="/api/sessions/reset-password?token={{token}}">
            <label for="email">Correo Electrónico</label>
            <input type="text" name="email" type="email" placeholder="example@gmail.com" />
            <label for="password">Nueva Contraseña</label>
            <input name="newPassword" type="password" placeholder="********" />
            <input class="loginBtn" type="submit" value="Enviar" />
        </form>
    </div>
</div>